@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;
}
body{
    background-color: rgb(49, 45, 45);
}
nav{
    display: flex;
    background-color: black;
    justify-content: space-around;
    height: 75px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
img{
    height: 35px;
    margin: 7% 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.iit{
    display: flex;
    align-items: center;
    font-size: 29px;
    font-weight: 600;
    color: aqua;
}
table{
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    margin-top: 20px;
    border-collapse: collapse;
    position: relative;
    top: 75px;
}
caption{
    padding: 1rem;
    background-color: hsl(0, 0%, 5%);
    font-size: 1.5rem;
    font-weight: 600;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.wrap span{
    color: lightgreen;
    padding: 0px 20px;
}
th{
    padding: 1rem;
    background: hsl(0, 0%, 10%);
    color: rgb(56, 204, 253);
}
td{
    padding: 1rem;
    text-align: center;
}
tr:nth-child(2n-1){
    background: hsl(0, 0%, 14%);
}
tr:nth-child(2n){
    background: hsl(0, 0%, 16%);
}
@media (width < 500px){
    th{
        display: none;
    }
    td{
        display: grid;
        grid-template-columns: 15ch auto;
        text-align: left;
    }
    td::before{
        content: attr(data-cell) ' : ';
        text-transform: capitalize;
    }
    .iit {
        font-size: 20px;;
    }
    img{
        height: 25px;
    }
}